@{
    ViewData["Title"] = "Weather Data";
}
<h2>Weather data</h2>
<p>The database is seeded with:</p>
<li>
    @ViewData["Path"] <input type="button" value="Show" onclick="plotChart('/Data/GetJson', '@ViewData["Path"]')" />
</li>

<p>
    SMHI api: available cities:
</p>
<li>Stockholm  <input type="button" value="Plot" onclick="plotChart('/Data/SMHI/GetChart?city=Stockholm', 'Stockholm')" /></li>
<li>Gothenburg <input type="button" value="Plot" onclick="plotChart('/Data/SMHI/GetChart?city=Gothenburg', 'Gothenburg')" /></li>
<li>Visby      <input type="button" value="Plot" onclick="plotChart('/Data/SMHI/GetChart?city=Visby', 'Visby')" /></li>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Weather data.
    </p>
</figure>


<script>
    function plotChart(source, city) {
        $.getJSON(source, function (data) {
            var Dates = []
            var Values = []
            for (var i = 0; i < data.length; i++) {
                Dates.push(data[i].date);
                Values.push(data[i].value);
            }

            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Temperature'
                },
                subtitle: {
                    text: 'Source: ' + source
                },
                xAxis: {
                    categories: Dates
                },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)'
                    }
                },
                plotOptions: {
                    line: {

                        dataLabels: {
                            enabled: false
                        },
                        enableMouseTracking: true
                    }
                },
                series: [{
                    name: city,
                    data: Values
                }]
            });
        })
    }

</script>